﻿@model SampleListDetailMvc.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prefecture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prefecture.Name)
        </dd>
    </dl>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                    @book.Title
                </a>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>